.signup-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: lightblue;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 400px;
    margin: 0 auto;
}

.error {
    color: crimson;
    font-weight: bolder;
}

.signup-form h2 {
    margin-bottom: 20px;
}

.signup-form input {
    margin-bottom: 15px;
}

.signup-form button {
    width: 100%;
}

.center-items{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
